body{
    font-family: Arial, sans-serif;
    background: url("/imgs/scientific_background.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

form {
    background: rgb(248, 249, 233);
    padding: 30px;
    border-radius: 20px;
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 0;
    color: #9e9e9e;
    pointer-events: none;
    transition: 0.2s ease all;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #9e9e9e;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 1rem;
    outline: none;
}

select {
    cursor: pointer;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label,
select:focus ~ label,
select:not([value=""]):not(:focus) ~ label {
    top: -18px;
    font-size: 0.8rem;
    color: #325a7c;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #325a7c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

button:hover {
    background-color: #457ba8;
}

.message {
    color: #d8000c;
    text-align: center;
}

.errors {
    background: #ffbaba;
    color: #d8000c;
    padding: 10px 10px 10px 30px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
}